
<div class="container">
	<div class="row">
		<div class="col-6 col-md-4">
		  <div class="list-group">
			  <a class="list-group-item list-group-item-secondary">
			    Emails
			  </a>
			  <% @emails.each do |email| %>
				  <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in
				  <%= email.object %>
				  </a>
			  <% end %>
			</div>
		</div>
	  <div class="col-12 col-md-8">
	  	<div class="list-group">
			  <a class="list-group-item list-group-item-secondary">
			    Body emails
			  </a>
			</div>
	  </div>
	</div>
</div>


<!-- <div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active">
    Emails
  </a>
  <% @emails.each do |email| %>
	  <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in
	  <%= email.object %>
	  </a>
  <% end %>
</div>

<div class="col-6 col-md-4"> Object Email
	  	<ul class="list-group">
	  			<% @emails.each do |email| %>
	  		<li class="list-group-item">
	  			<%= email.object %>
	  		</li>
	  		<% end %>
	  	</ul>
	  </div> -->