<div class="container mb-5">
	<div>
		<%= link_to "Recevoir un email", emails_path, method: "post", class: "btn btn-success receive-btn", remote: true %>
	</div>
</div>


<div class="container">
	<div class="row">
		<div class="col-6 col-md-4">
		  <div class="list-group">
		  	<ul id="email-list">
			  <li class="list-group-item list-group-item-secondary">
			    Emails
			  </li>
			   <% @emails.each do |email| %>
				  <a href="<%= email_path(email.id)%>" class="list-group-item list-group-item-action" data-remote="true" id="email-list">
				    <%= email.object %>
				  </a>
			   <% end %>
			  </ul>
			</div>
		</div>
	  <div class="col-12 col-md-8">
	  	<div id="affichage-mail">

		  </div>
	  </div>
	</div>
</div>