<div class="container mb-5">
	<div>
		<%= link_to "Recevoir un email", emails_path, method: "post", class: "btn btn-success receive-btn", remote: true %>
	</div>
</div>


<div class="container">
	<div class="row">
		<div class="col-6 col-md-4">
		  <div class="list-group">
			  <a class="list-group-item list-group-item-secondary">
			    Emails
			  </a>
			   <ul id="email-list">
			   <% @emails.each do |email| %>
				  <li class="list-group-item list-group-item-action">
				  <%= email.object %>
				  </li>
			   <% end %>
			  </ul>
			</div>
		</div>
	  <div class="col-12 col-md-8">
	  	<div class="list-group">
			  <a class="list-group-item list-group-item-secondary">
			    Body emails
			  </a>
			</div>
	  </div>
	</div>
</div>