<div class="container mb-5">
	<div>
		<%= link_to "Recevoir un email", emails_path, method: "post", class: "btn btn-success receive-btn", remote: true %>
	</div>
</div>


<div class="container">
	<div class="row">
		<div class="col-6 col-md-4">
		  <div class="list-group">
		  	<ul id="email-list">
				  <li class="list-group-item list-group-item-secondary">
				    Emails
				  </li>
				   <% @emails.sort.each do |email| %>
					<%= render 'emails_list', email: email%>
				   <% end %>
			  </ul>
			</div>
		</div>
	  <div class="col-12 col-md-8">
	  	<div id="affichage-mail">

		  </div>
	  </div>
	</div>
</div>